<div class="banner row">
    <h1>Erklärung</h1>
</div>

<div class="inset row">
    <p>Willkommen zum Schätzkartenspiel! Dieses Tool ist gut geeignet, um bei agilen Projekten den Aufwand einzelner Items zu schätzen </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus reprehenderit laboriosam nobis voluptatum voluptatibus. Saepe laborum commodi sit optio vitae nostrum, placeat nesciunt illum, consectetur quasi voluptate! Tenetur, laudantium eveniet!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, impedit atque temporibus accusamus molestias odit alias enim culpa earum odio corporis quo sed molestiae aperiam asperiores recusandae unde natus itaque?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga fugit repellendus porro, illo unde quaerat placeat labore deserunt dolores mollitia nostrum earum. Assumenda ipsa modi nesciunt ut est dignissimos aliquid.
    </p>
</div>
