<div class="row banner">
    <h1>Willkommen beim Schätzkartenspiel</h1><br/>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis laboriosam possimus in at labore cumque molestiae hic accusantium veniam ratione quibusdam unde mollitia aut error autem repellendus soluta, blanditiis illo!
    </p>
</div>

<div class="inset row">
    <div class="col-md">
        <h3>So funktioniert das Schätzkartenspiel</h3><br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda iste vel sed ipsam reprehenderit in suscipit iusto. Perspiciatis doloribus odit natus, minus ducimus, fuga, commodi voluptatum aspernatur a placeat nam.</p>
        <p><a class="rounded button" href="?page=explanation">Erklärung lesen</a></p>
    </div>
    <div class="col-md">
        <h3>Jetzt neues Spiel starten</h3><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis neque doloribus illum tempore dolores quae excepturi dolor unde iure commodi odit ut atque, autem amet aliquam rerum consequuntur vitae nulla.</p>
        <p><a class="rounded button" href="?page=newgame">Starten</a></p>
    </div>
    <div class="col-md">
        <h3>Jetzt Spiel beitreten</h3><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, neque! At, laboriosam, possimus earum voluptatem iure reiciendis provident, vero non blanditiis similique nihil! Illum ipsa ad placeat, amet rerum non.</p>
        <p><a class="rounded button" href="?page=join">Beitreten</a></p>
    </div>
</div><br>

